.minicart__box{
    height: 100%;
 background-image: url(https://i.pinimg.com/originals/1f/99/81/1f9981080a58aa85b83f3bd455b73ad9.gif);
  padding: 50px;
}
.title__Proyex{
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 50px;
}