/* h2{
    text-shadow: 10px 10px 10px black;

} */

.Hedaer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
    /* background-image: url(https://thumbs.gfycat.com/ConcreteHastyIndochinesetiger-size_restricted.gif); */
    /* background-image: url(https://phoneky.co.uk/thumbs/screensavers/down/places/moonlight_QaObdsT9.gif); */
    background-size: cover;
    background-repeat: no-repeat;

}
/* .Headaer__img{
    width: 160px;
    height: 190px;
    border-radius: 2%;
    box-shadow: 1px 1px 15px black;
    margin: 10px;
   position: relative;
   bottom: 10px;
} */
.p__Header{
    text-align: center;
}
.btn__Header{
    height: 30px;
    width: 130px;
    background-color: #EB1D36 ;
    border: none;
    border-radius: 5px;
    margin: 50px;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 15px black;
}
.inf__Header{
   
    width:100% ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    text-align: center;
    padding: 10px;
}
.links__header{
    padding: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 1px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
.icon_header{
    z-index: 5000000;
    font-size: 35px;
    color: #19294a;
    border-radius: 50%;
    
}

@media (min-width: 1024px){
    .Hedaer{
     /* background-image: url(https://i.pinimg.com/originals/1f/99/81/1f9981080a58aa85b83f3bd455b73ad9.gif); */
     height: 100vh;
    }
  
}
@media (min-width: 1440px) {
   
    .contain__iconsH{
        display: flex;
        gap: 50px;
        list-style: none;
    }
    .icon_tecnologi{
        margin-top: 50px;
    }
}