@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
:root{
    -color-bg:#19294a ;
    -color-bg-btn:#EB1D36;
    -color-bg-cart: #2d3a58;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    font-family: 'Oswald', sans-serif;
    
    
}
body{
    background-color: hsl(0, 0%, 100%);
    transition: background-color 0.3s ease;
    font-family: 'Oswald', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
   
    /* background-image: url(https://i.pinimg.com/originals/1f/99/81/1f9981080a58aa85b83f3bd455b73ad9.gif); */
   
    /* position: fixed; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://i.pinimg.com/originals/1f/99/81/1f9981080a58aa85b83f3bd455b73ad9.gif') repeat;
  z-index: -1; */
}
/* .Navbar{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;

}
.Navbar nav {
    flex-direction:initial;
    background-color: #fff;
    
} */
a{
    text-decoration: none;
}
textarea,
input{
    color: #19294a;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
    height: 50px;
    background-image: url(https://i.pinimg.com/originals/1f/99/81/1f9981080a58aa85b83f3bd455b73ad9.gif);
    background: linear-gradient(to top, rgb(0, 255, 136,0.5) 0%, rgb(97, 239, 255,0.5) 100%);
    background: rgb(0, 255, 136,0.5);
}
  .nav-links,
  .dark-mode {
    background-color: #000000;
    color: #fff;
  }
  
  .dark-mode-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dark-mode-button:hover {
    background-color: #333;
    color: #fff;
  }
  